.igv-modal {
  position: fixed;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  background: theme("colors.white");
  border-radius: theme("borderRadius.lg");
  transition-timing-function: ease-in-out;
  transition-property: opacity;

  &_entering,
  &_entered {
    opacity: 1;
  }

  &_exiting,
  &_exited {
    opacity: 0;
  }

  &__header {
    @apply typography-m;

    height: 6%;
    padding: 0 theme("spacing.4");
    display: flex;
    justify-content: flex-end;

    &__close {
      color: theme("colors.black");
      cursor: pointer;

      &:hover {
        color: theme("colors.blue.bright");
      }
    }
  }

  &__content {
    height: 93%;
    padding: 0 theme("spacing.4");
    overflow-y: auto;
  }
}
