.arrow {
  border-left: 2px solid;
  border-bottom: 2px solid;
  width: 8px;
  height: 8px;
  transform-origin: 35% 65%;
  transform: rotate(-45deg);
  transition: transform 0.15s ease-in-out;
  cursor: pointer;

  &_open {
    transform: rotate(135deg);
  }

  &_black {
    color: theme("colors.blue.darkHover");
  }

  &_sm {
    width: 6px;
    height: 6px;
  }
}
