.range-slider-histogram {
  position: relative;

  &__axis-label {
    position: absolute;
    right: 100%;
    padding-right: 4px;
    margin-top: -5px;
    font-size: theme("fontSize.10");
    line-height: 10px;
    color: theme("colors.grey.blue");
  }
}
