.loader-wrapper {
  position: relative;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    white-space: nowrap;
  }

  &__loader {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: theme("colors.white");

    &_icon {
      position: relative;

      &_xs {
        top: -4px;
      }

      &_s {
        top: -12px;
      }

      &_m {
        top: -20px;
      }

      &_l {
        top: -24px;
      }

      &_xl {
        top: -32px;
      }
    }
  }
}
