.dataset-info {
  grid-column: span 2 / span 2;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background-color: theme("colors.white");

  &__title {
    margin-top: 32px;
    margin-bottom: 16px;
    font-weight: bold;
    color: theme("colors.blue.dark");

    &_first {
      margin-top: 0;
    }
  }

  &_header {
    display: flex;
    justify-content: space-between;

    &_button {
      padding: 2px;
      border-radius: theme("spacing.1");
      color: theme("colors.grey.blue");
      width: fit-content;
      height: fit-content;

      &:hover {
        background-color: theme("colors.grey.disabled");
      }
    }
  }

  &__table {
    margin-right: 20px;

    &_row {
      @apply typography-s;

      border-bottom: 1px solid theme("colors.grey.disabled");

      &_title {
        color: theme("colors.grey.dark") !important;
        font-weight: 500;
      }

      & > td {
        padding: 10px 0;
        color: theme("colors.blue.dark");
      }
    }
  }

  &__loader {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &__ancestor {
    &__filter {
      @apply typography-s;

      color: theme("colors.blue.dark");
      margin-bottom: 8px;
      font-weight: 500;

      &_name {
        font-weight: bold;
      }
    }

    &__conditions {
      @apply typography-s;

      & > span {
        border-bottom: 1px solid theme("colors.grey.disabled");
        padding: 6px 0;
        color: theme("colors.blue.dark") !important;
        font-family: "Droid Sans Mono", "Droid Sans Fallback", monospace;
        font-weight: 500;
      }

      :global {
        /* Styles for python comment class */
        .c1 {
          display: flex;
          margin-bottom: 7px;
        }

        .ow {
          color: theme("colors.purple.bright");
          font-weight: bold;
        }

        .k,
        .kc {
          color: theme("colors.green.secondary");
          font-weight: bold;
        }
      }

      white-space: pre-wrap;
      color: theme("colors.grey.dark") !important;
      display: flex;
      flex-direction: column;
      margin: theme("spacing.1") theme("spacing.4");
    }

    &__supply-panel {
      @apply typography-xs;

      display: flex;
      flex-direction: column;
      color: theme("colors.blue.dark") !important;

      & > span {
        margin-top: 8px;
      }
    }
  }
}
