.title {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__label {
    @apply typography-m;
  }

  &__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: theme("borderRadius.DEFAULT");
    color: theme("colors.white");
    background: theme("colors.blue.bright");
    font-size: 14px;
    margin-left: theme("spacing.3");

    &:hover {
      background: theme("colors.blue.hover");
    }

    &:active {
      background: theme("colors.blue.active");
    }
  }
}

.menu {
  @apply popup-card;

  margin-top: theme("spacing.1");
  min-width: 200px;
}

.condition {
  padding-right: theme("padding.4");

  @apply typography-s;

  &__label {
    padding: 6px 10px;
    cursor: pointer;

    &:hover {
      color: theme("colors.grey.blue")
    }

    &_selected {
      outline: 1px solid theme("colors.grey.dark");
      border-radius: 4px;
    }
  }

  &__delete-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: theme("spacing.2");
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: theme("colors.grey.blue");
    color: theme("colors.black");
    cursor: pointer;

    &:hover {
      background: theme("colors.grey.light");
    }
  }
}
