.body {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;

  &__grid-layout {
    flex: 1 1 0%;
    overflow-y: auto;
    overflow-x: hidden;

    &__widgets-container {
      display: flex;
      flex-direction: column;
    }
  }
}
