.link-container {
  table > tbody > tr > td > span > a {
    margin: 16px;
  }
}

.gene-transcripts {
  table > tbody > tr > td {
    padding: 8px 12px;
    align-items: center;
    text-align: center;

    & > input {
      width: 16px;
      height: 16px;
    }
  }
}

.first-column {
  padding: 12px;
  width: 1px;
  max-width: fit-content !important;
  color: theme("colors.grey.blue");
  position: sticky;
  white-space: nowrap;
  left: 0;
}
