.card {
  border-radius: theme("spacing.2");
  box-shadow: theme("boxShadow.mainCard");
  padding: theme("spacing.4");

  &_header {
    &_title {
      &_md {
        @apply typography-l;
      }

      &_xs {
        @apply typography-m;
      }

      font-weight: bold;
      flex-grow: 1;
      color: theme("colors.blue.dark");
    }

    &_button {
      padding: 2px;
      border-radius: theme("spacing.1");
      color: theme("colors.grey.blue");

      &:hover {
        background-color: theme("colors.grey.disabled");
      }
    }
  }
}
