.group-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
  color: theme("colors.blue.dark");
  cursor: pointer;

  @apply typography-m;

  &:not(first-of-type) {
    margin-top:6px
  }

  &_collapsed {
    color: theme("colors.black");

    &:hover {
      color: theme("colors.blue.dark");
    }
  }

  &_dark {
    color: theme("colors.white");
  }

  &_dark&_collapsed {
    color: theme("colors.grey.blue");

    &:hover {
      color: theme("colors.white");
    }
  }

  &__title {
    @apply typography-m;

    font-weight: 500;
    flex: 1 0 auto;
  }
}
