.prediction-power-indicator {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  overflow: hidden;
  border-radius: 13px;
  width: 3px;

  &_sm {
    height: 6px
  }

  &_md {
    height: 12px;
  }

  &_grey {
    background-color: theme("colors.grey.blue");
  }

  &_yellow {
    background-color: #fde66b;
  }

  &_green-light {
    background-color: #98e18b;
  }

  &_green-dark {
    background-color: #19af00;
  }
}
