.power-point {
  width: 3px;
  height: 10px;
  border-radius: theme("borderRadius.sm");
  margin-right: theme("margin[0.5]");

  &_t1 {
    border: 1px solid theme("colors.blue.indicator1");
  }

  &_t2 {
    border: 1px solid theme("colors.blue.indicator2");
  }

  &_t3 {
    border: 1px solid theme("colors.blue.indicator3");
  }

  &_t4 {
    background: theme("colors.blue.indicator4");
  }

  &_t5 {
    background: theme("colors.blue.indicator1");
  }

  &_t6 {
    background: theme("colors.blue.indicator2");
  }

  &_t7 {
    background: theme("colors.blue.indicator5");
  }
}
