.pagination {
  @apply typography-s;

  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &_container {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    overflow: hidden;
  }

  &_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    max-width: 100%;

    &_text {
      @apply typography-s;

      color: theme("colors.white");
      padding: 7px 12px;
      min-width: 120px;
      display: flex;
      justify-content: center;
      background-color: theme("colors.blue.bright");
    }

    &_button {
      @apply typography-s;

      color: theme("colors.blue.bright");
      padding: 4px;
      border: 2px solid theme("colors.blue.bright");
      border-radius: theme("spacing.1");
      cursor: pointer;

      &:hover {
        background-color: theme("colors.blue.hover");
        border-color: theme("colors.blue.hover");
        color: theme("colors.white");
      }

      &:disabled {
        opacity: 0.5;
        color: theme("colors.blue.dark");
        border-color: theme("colors.grey.blue");
        background-color: theme("colors.white");
      }

      &_left {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }

      &_right {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }

      &__icon {
        &_right {
          transform: rotate(180deg);
        }
      }
    }
  }
}
