.tab {
  display: flex;
  align-items: center;
  margin-bottom: theme("margin.2");
  background: theme("colors.blue.darkHover");
  border-radius: theme("borderRadius.DEFAULT");
  cursor: auto;

  &__container {
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 theme("padding.4");
    cursor: pointer;

    &:hover {
      div {
        color: theme("colors.grey.blue");
      }
    }

    &__grab {
      width: 45%;
      justify-content: flex-end;
      cursor: grab;
    }
  }

  &_disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &__header {
    @apply typography-m;

    height: 36px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;

    &__title {
      font-weight: theme("fontWeight.medium");
      color: theme("colors.white");
      cursor: pointer;
    }

    &__controls {
      display: flex;
      align-items: center;
      height: theme("height.3");
      cursor: pointer;
    }
  }
}
