.condition-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: theme("padding.15");
  margin: 12px 16px;
  border-radius: theme("borderRadius.lg");
  box-shadow: 0 2px 8px rgb(105 105 105 / 25%);
  cursor: grab;

  &:first-child {
    margin-top: 5px;
  }

  &_active {
    background: theme("colors.blue.tertiary");
    outline: 1px solid theme("colors.blue.bright");
  }

  &__filter-name {
    font-weight: 500;
    margin-right: 6px;
  }

  &__content {
    display: flex;
    width: 100%;

    &_open {
      display: block;
    }
  }

  &__multipoint {
    &::before {
      content: "";
      display: inline-block;
      background: theme("colors.grey.disabled");
      height: 20px;
      width: 2px;
      border-radius: 50%;
      margin: 0 6px -5px;
    }
  }

  &__toggle-button {
    color: theme("colors.blue.bright");
    cursor: pointer;
    padding: theme("spacing.1");

    &:hover {
      color: theme("colors.blue.lighter");
    }

    svg {
      transition: transform 0.15s ease-in-out;
      transform: rotate(-90deg);
    }

    &_open svg {
      transform: rotate(90deg);
    }
  }
}
