.units-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  color: theme("colors.black");
  background: theme("colors.white");
  position: relative;

  &_column-list {
    padding-left: theme("spacing.4");
  }

  &_dark {
    color: theme("colors.white");
    background: theme("colors.blue.lighter");
  }

  &__functional {
    flex: 0 0 auto;
    padding-bottom: theme("spacing.2");
    border-bottom: 1px solid theme("colors.grey.disabled");

    &_column-list {
      padding-top: theme("spacing.4");
    }
  }

  &_dark &__functional {
    border-color: theme("colors.blue.secondary");
  }

  &__loader {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

  &__controls {
    flex: 0 0 auto;
    padding-top: theme("spacing.4");
    padding-bottom: theme("spacing.4");

    &_column-list {
      padding-right: theme("spacing.4");
    }
  }

  &__sub-header {
    flex: 0 0 auto;
    padding-bottom: theme("spacing.4");
  }

  &__list {
    flex: 1 0 0;
    padding: 0 1px;
    overflow-y: auto;

    &_modal {
      max-height: 70vh;
    }

    &_loading {
      display: flex;
      align-items: center;
    }
  }
}
