.card {
  background-color: theme("colors.white");
  width: 100%;
  height: 100%;
  border-radius: theme("spacing.2");
  box-shadow: theme("boxShadow.mainCard");
  padding: theme("spacing.4");
  overflow: scroll;
  display: flex;
  flex-direction: column;
  scrollbar-gutter: stable;

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    &_title {
      @apply typography-m;

      font-weight: bold;
      flex-grow: 1;
      color: theme("colors.blue.dark");
    }

    &_button {
      padding: 2px;
      border-radius: theme("spacing.1");
      color: theme("colors.grey.blue");

      &:hover {
        background-color: theme("colors.grey.disabled");
      }
    }
  }
}
