.panel {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;

  &__tab {
    height: 36px;
    display: flex;
    align-items: center;
    padding: theme("padding.2") theme("padding.4");
    background: theme("colors.blue.darkHover");
    border-radius: theme("borderRadius.DEFAULT");
    cursor: grab;

    &_light {
      background: theme("colors.blue.secondary");
    }

    &__header {
      display: flex;
      align-items: center;

      &__title {
        font-size: theme("fontSize.16");
        font-weight: theme("fontWeight.medium");
        color: theme("colors.white");
        cursor: pointer;
      }
    }
  }

  &__spare-panel {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: wrap row;
    padding: 0 theme("padding.4");
    color: theme("colors.white");

    &__tab {
      width: 306px;
      height: 36px;
      display: flex;
      align-items: center;
      margin: theme("margin.1");
      padding: 0 theme("padding.4");
      background: theme("colors.blue.darkHover");
      border-radius: theme("borderRadius.DEFAULT");
      cursor: pointer;

      &__title {
        font-size: theme("fontSize.16");
        font-weight: theme("fontWeight.medium");
        color: theme("colors.white");
      }
    }
  }
}
