.unit {
  padding: 0 0 theme("spacing.2") theme("spacing.2");
}

.unit-title {
  display: flex;
  align-items: center;

  &__title {
    margin-right: 4px;
    color: theme("colors.black");
    cursor: pointer;

    @apply typography-s;

    font-weight: 500;

    &:hover {
      color: theme("colors.blue.dark");
    }

    &_dark {
      color: theme("colors.white");

      &:hover {
        color: theme("colors.grey.blue");
      }
    }
  }

  &__arrow {
    &:hover {
      color: theme("colors.grey.blue");
    }

    &_dark {
      &:hover {
        color: theme("colors.grey.blue");
      }
    }
  }

  &__power {
    margin: 0 theme("spacing.2") 0 theme("spacing[0.5]");
  }
}
