@tailwind base;

@layer base {
  * {
    /* W3C standard just for Firefox */
    scrollbar-width: thin;
  }

  html {
    min-width: 1024px;

    @apply text-black;
  }

  html,
  body,
  #root {
    @apply h-full;
  }

  button:focus {
    outline: none;
  }

  svg {
    @apply flex-shrink-0;
  }
}

@tailwind utilities;

::-webkit-scrollbar {
  background-color: inherit;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  background-color: inherit;
}

::-webkit-scrollbar-thumb {
  background-color: theme("colors.grey.blue");
  border-radius: 16px;
  background-clip: content-box;
  border: 4px solid transparent;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-resizer {
  background-color: transparent;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.step-menu-btn {
  @apply rounded-tr-none rounded-tl-none rounded-bl-md rounded-br-md
    rounded-md font-normal py-2 px-2 hover:bg-grey-light;
}

.header-variants-info {
  @apply text-12 leading-14px text-white border-l-2 border-blue-lighter mt-2 ml-2 pl-2 font-bold;
}

.backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
