.not-found {
  &__wrapper {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__error-status {
    font-weight: bold;
    font-size: 164px;
    line-height: 180px;
    color: theme("colors.grey.disabled");
  }

  &__title {
    font-weight: 500;
    font-size: theme("fontSize.36");
    line-height: theme("lineHeight.42");
    color: theme("colors.blue.dark");
  }

  &__info {
    @apply typography-m;

    text-align: center;
    color: theme("colors.blue.dark");
    max-width: 426px;
    margin: 16px 0 20px;
  }
}
