.table {
  min-width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  @apply typography-s;

  &__head {
    position: sticky;
    top: 0;
    background: theme("colors.white");

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-bottom: 1px solid theme("colors.grey.light");
    }
  }

  &__row {
    cursor: pointer;
    border-bottom: 1px solid theme("colors.grey.light");

    &:hover {
      background: theme("colors.blue.light");
    }
  }

  &__th {
    text-align: left;
    font-weight: theme("fontWeight.bold");
    height: 38px;
    vertical-align: middle;
    padding: 0 theme("spacing.4");
  }

  &__td {
    text-align: left;
    padding: theme("spacing.4")
  }
}
