.bar-chart {
  :global {
    .tick {
      color: theme("colors.grey.blue");

      @apply typography-xxs;

      font-size: 9px;
    }

    line {
      stroke: theme("colors.blue.lighter");
    }

    .domain {
      display: none;
    }
  }

  &_light {
    :global line {
      stroke: theme("colors.grey.disabled");
    }
  }

  &_clickable {
    :global rect {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
